.features {
    display: flex;
    gap: 20px;
    padding: 60px 0px;
    flex-wrap: wrap;
}

.feature-card {
    flex: 1 1 280px;
    background: var(--gray);
    padding: 30px;
    border-radius: 10px;
}

.feature-card h3 {
    color: var(--blue);
    margin-bottom: 10px;
} 
